@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

html, body
{
	font-size: 14px;
}

html, body, select, input, option
{
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300;
}

html 
{
	margin: 0 16px 12px; 
	padding: 0; 
}

h1 
{
	font-size: 48px;
	font-weight: 300;
	margin: 16px 0;
}

h2 
{
	font-size: 28px;
	font-weight: 400;
	margin: 18px 0 12px;
}

p, li 
{
	margin-top: 2px;
}

a
{
	color: #00C; 
	text-decoration: none;
}

i
{
	color: #999;
}

button
{
	font-weight: 400;
	padding: 8px 12px;
}

strong, b
{
	font-weight: 600;
}

code
{
	background-color: #EEE;
	border-radius: 3px;
	font-size: 75%;
	padding: 3px 5px;
	vertical-align: middle;
}